.movie {
  position: relative;
  width: 100%;

  &:after {
    display: block;
    content: '';
    padding-top: 56.25%;
  }

  .movie-video {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
  }
}
